<{include file='public/_meta'}>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 邀请管理 <span class="c-gray en">&gt;</span> 邀请列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c">
        <form id="form-admin-search" action="<{:url('yaoqing/index')}>" method="post">
        <!--<button onclick="removeIframe()" class="btn btn-primary radius">关闭选项卡</button>-->
	 日期范围：
        <input name="starttime" type="text" onfocus="WdatePicker({})" id="logmin" class="input-text Wdate" style="width:120px;" value="<{$condition['starttime'] ?? ''}>">
        -
        <input name="endtime" type="text" onfocus="WdatePicker({})" id="logmax" class="input-text Wdate" style="width:120px;" value="<{$condition['endtime'] ?? ''}>">
        <input type="text" name="nickname" id="" placeholder=" 被邀请人" style="width:100px" class="input-text" value="<{$condition['nickname'] ?? ''}>">
        <input type="text" name="iv_nickname" id="" placeholder=" 邀请人" style="width:100px" class="input-text" value="<{$condition['iv_nickname'] ?? ''}>">
        <button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜</button>
        </form>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"><span class="r">共有数据：<strong id="total_count"><{$yaoqings|count}></strong> 条</span> </div>
    <div class="mt-20">
        <table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
            <thead>
            <tr class="text-c">
                <th width="80">联系人</th>
                <th width="80">邀请人</th>
                <th width="75">注册时间</th>
                <th width="120">操作</th>
            </tr>
            </thead>
            <tbody>
            <{volist name='$yaoqings' id='vo'}>
            <tr class="text-c">
                <td><{$vo.nickname}></td>
                <td><{$vo.iv_nickname}></td>
                <td><{$vo.create_time}></td>
                <td class="f-14 td-manage"><a style="text-decoration:none" class="ml-5" onClick="article_edit('编辑','<{:url(\'yaoqing/edit\')}>',<{$vo.id}>)" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a style="text-decoration:none" class="ml-5" onClick="article_del(this,'<{$vo.id}>')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
            </tr>
            <{/volist}>
            </tbody>
        </table>
    </div>
</div>

<{include file='public/_footer'}>
<script type="text/javascript" src="__STATIC__/hadmin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__STATIC__/hadmin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    $('.table-sort').dataTable({
        "aaSorting": [[ 2, "desc" ]],//默认第几个排序
        "bStateSave": false,//状态保存
        "pading":false,
        "aoColumnDefs": [
            //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
            {"orderable":false,"aTargets":[0,1]}// 不参与排序的列
        ]
    });
    /*编辑*/
    function article_edit(title,url,id,w,h){
        layer_show(title,url+'?id='+id,w,h);
    }
    /*删除*/
    function article_del(obj,id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'POST',
                url: "<{:url('yaoqing/del')}>",
                data:{id:id},
                dataType: 'json',
                success: function(data){
                    if (data.code == '0') {
                        $(obj).parents("tr").remove();
                        layer.msg('已删除!',{icon:1,time:1000});
                        var total_count = $('#total_count').html();
                        total_count = Number(total_count) - 1;
                        $('#total_count').html(total_count)
                    } else {
                        layer.msg('删除失败，'+data.msg+'！',{icon:5,time:2000});
                    }
                },
                error:function(data) {
                    layer.msg('请求失败!',{icon:5,time:1000});
                    console.log(data.msg);
                },
            });
        });
    }

</script>
</body>

</html>