<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 专线管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<!-- <li><a data-href="<{:url('admin/zhuanxian/add')}>" data-title="添加管理" href="javascript:void(0)">添加管理</a></li> -->
					<li><a data-href="<{:url('admin/zhuanxian/index')}>" data-title="专线管理" href="javascript:void(0)">专线管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 车辆买卖管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<!-- <li><a data-href="<{:url('admin/zhuanxian/add')}>" data-title="添加管理" href="javascript:void(0)">添加管理</a></li> -->
					<li><a data-href="<{:url('admin/sellmsg/index')}>" data-title="车辆买卖管理" href="javascript:void(0)">车辆买卖管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 司机招聘管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<!-- <li><a data-href="<{:url('admin/zhuanxian/add')}>" data-title="添加管理" href="javascript:void(0)">添加管理</a></li> -->
					<li><a data-href="<{:url('admin/zhaopin/index')}>" data-title="司机招聘管理" href="javascript:void(0)">司机招聘管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 新闻管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="<{:url('admin/news/add')}>" data-title="添加管理" href="javascript:void(0)">添加管理</a></li>
					<li><a data-href="<{:url('admin/news/index')}>" data-title="新闻管理" href="javascript:void(0)">新闻管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="<{:url('admin/contact/add')}>" data-title="添加管理" href="javascript:void(0)">添加管理</a></li>
					<li><a data-href="<{:url('admin/contact/index')}>" data-title="会员管理" href="javascript:void(0)">会员管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-picture">
			<dt><i class="Hui-iconfont">&#xe6aa;</i> 邀请管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="<{:url('admin/yaoqing/index')}>" data-title="邀请管理" href="javascript:void(0)">邀请管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="<{:url('admin/appinfo/index')}>" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>