<{include file='public/_meta' /}>
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/uploadify/uploadify.css" />
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add" action="<{:url('news/add')}>" method="post">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>标题：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" autocomplete="off" value="" placeholder="" id="title" name="title">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                <span class="c-red">*</span>新闻内容：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea style="height: 200px;" class="input-text" autocomplete="off" placeholder="" id="content" name="content"></textarea>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                头图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" id="file_upload0"/>
                <img style="display:none;" id="upload_img0" src="" width="150"/>
                <input type="hidden" id="file_upload_img0" name="titleimg" value=""/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                图片介绍1：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" id="file_upload1"/>
                <img style="display:none;" id="upload_img1" src="" width="150"/>
                <input type="hidden" id="file_upload_img1" name="img1" value=""/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                图片介绍2：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" id="file_upload2"/>
                <img style="display:none;" id="upload_img2" src="" width="150"/>
                <input type="hidden" id="file_upload_img2" name="img2" value=""/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                图片介绍3：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" id="file_upload3"/>
                <img style="display:none;" id="upload_img3" src="" width="150"/>
                <input type="hidden" id="file_upload_img3" name="img3" value=""/>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">
                二维码图：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" id="file_upload4"/>
                <img style="display:none;" id="upload_img4" src="" width="150"/>
                <input type="hidden" id="file_upload_img4" name="img4" value=""/>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
<{include file='public/_footer' /}>
<{load href="__STATIC__/admin/uploadify/jquery.uploadify.min.js" /}>
<{load href="__STATIC__/admin/js/image.js" /}>
</body>

</html>